body{
  margin:0;
  background-color: white;
  color: black;
}
a {
  text-decoration: none;
}
h1 {
  font-size:40px;
  text-align:center;
  border-bottom:1px solid gray;
  padding:20px;
  margin:0px
}
#grid ol{
  border-right:1px solid gray;
  width: 120px;
  margin:0;
  padding-left:33px;
  padding-top:33px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr
}
#grid #article{
  padding: 25px
}
@media(max-width:600px){
  #grid{
    display: black;
  }
  #grid ol{
    border-right:none;
  }
  h1{
    border-bottom:none;
  }
}
.wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows : 1fr 1fr 1fr;
}
.item{
  grid-column-start: 1;
  grid-column-end: 4;
}
